<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="5.0.0-beta11" targetFramework="net452" />
  <package id="NLog.Config" version="4.5.0-rc01" targetFramework="net452" />
  <package id="NLog.Schema" version="4.5.0-rc01" targetFramework="net452" />
  <package id="Unity" version="5.3.1" targetFramework="net461" />
</packages>